params {
    
    h =null
    help =null

    GVCF_filelist = "/research_jude/rgs01_jude/groups/wugrp/projects/pHGGs/common/NBL/jointCalling/gVCF-files_1592_cases.txt"
    //a txt file recording the gVCF files. 
   
    project = "GMKF-jointVCF"
    //A project atlas for the current variant calling analysis      

    genome_build ="hg38"   
    // "hg38(default) | hg19 | b37"
    
    data_type="WHOLE_GENOME" 
    // WHOLE_GENOME(default) | EXOME
  
    vqsr_recal="Y"
    //" VQSR recalbriation. Y(Default) | N"     

    ASOption=""
    //Allele Specific Option. ""(default) | "-AS"(allele-specific)
   
    popType="notPOP"
    //"Population datatype, InbreedingCoeff used or not. notPOP(Default) | POP"  
    
    VQSR_indelTranche="99.5"
    // VQSR INDEL Tranche for truth-sensitivity-filter-level
    
    VQSR_snpTranche="99.5"
    // VQSR SNP Tranche for truth-sensitivity-filter-level
   
    outdir="/research_jude/rgs01_jude/groups/wugrp/projects/pHGGs/common/NBL/jointCalling"
    // Workdir for storing the intermediate publishedDir  
      
    AUTO_DIR="/research/rgs01/applications/hpcf/authorized_apps/cab/Automation"
    REF_DIR= "${AUTO_DIR}/REF/Homo_sapiens/NCBI"
 
    Build_b37 {
        REFERENCE="${REF_DIR}/GRCh37-lite/bwa-index/GRCh37-lite_wochr/GRCh37-lite.fa"
	    KNOWN_SITE1="/research_jude/rgs01_jude/groups/cab/projects/automapper/common/yhui/Ti-Cheng/snv/GATK_known_sites/b37/1000G_phase1.indels.b37.vcf"
	    KNOWN_SITE2="/research_jude/rgs01_jude/groups/cab/projects/automapper/common/yhui/Ti-Cheng/snv/GATK_known_sites/b37/dbsnp_138.b37.vcf"
	    KNOWN_SITE3="/research_jude/rgs01_jude/groups/cab/projects/automapper/common/yhui/Ti-Cheng/snv/GATK_known_sites/b37/Mills_and_1000G_gold_standard.indels.b37.vcf"
	    EXOME_BED="/research_jude/rgs01_jude/groups/cab/projects/automapper/common/yhui/Ti-Cheng/snv/GATK_known_sites/b37/sureSelectV6_hg19_regions.bed"
        
        hapmap="/research_jude/rgs01_jude/groups/cab/projects/Control/common/reference/Homo_sapiens/GRCh37-lite/GATK/hapmap_3.3.b37.vcf"
        omni="/research_jude/rgs01_jude/groups/cab/projects/Control/common/reference/Homo_sapiens/GRCh37-lite/GATK/1000G_omni2.5.b37.vcf"
        thousandgenome_snp="/research_jude/rgs01_jude/groups/cab/projects/Control/common/reference/Homo_sapiens/GRCh37-lite/GATK/1000G_phase1.snps.high_confidence.b37.vcf"
        dbSNP="/research_jude/rgs01_jude/groups/cab/projects/Control/common/reference/Homo_sapiens/GRCh37-lite/GATK/dbsnp_138.b37.excluding_sites_after_129.vcf"
        
        mills_indel="/research_jude/rgs01_jude/groups/cab/projects/Control/common/reference/Homo_sapiens/GRCh37-lite/GATK/Mills_and_1000G_gold_standard.indels.b37.vcf"
        axiom=""
        INTERVALS= "/research_jude/rgs01_jude/groups/cab/projects/Control/common/scripts/Joint_GenotypeGVCFs/intervals/b37_intervals.txt" 
    }

    Build_hg38 {
        REFERENCE="${REF_DIR}/GRCh38_no_alt/bwa-index/0.7.17-r1188/GCA_000001405.15_GRCh38_no_alt_analysis_set.fa"
	    KNOWN_SITE1="/research_jude/rgs01_jude/groups/cab/projects/automapper/common/yhui/Ti-Cheng/snv/GATK_known_sites/hg38/Homo_sapiens_assembly38.known_indels.vcf.gz"
	    KNOWN_SITE2="/research_jude/rgs01_jude/groups/cab/projects/automapper/common/yhui/Ti-Cheng/snv/GATK_known_sites/hg38/resources_broad_hg38_v0_Homo_sapiens_assembly38.dbsnp138.vcf"
	    KNOWN_SITE3="/research_jude/rgs01_jude/groups/cab/projects/automapper/common/yhui/Ti-Cheng/snv/GATK_known_sites/hg38/resources_broad_hg38_v0_Mills_and_1000G_gold_standard.indels.hg38.vcf"
	    EXOME_BED="/research_jude/rgs01_jude/groups/cab/projects/automapper/common/yhui/Ti-Cheng/snv/GATK_known_sites/hg38/sureSelectV6_hg38_regions.bed" 
        
        hapmap="/research_jude/rgs01_jude/groups/cab/projects/Control/common/reference/Homo_sapiens/GRCh38_no_alt/GATK/hapmap_3.3.hg38.vcf.gz"
        omni="/research_jude/rgs01_jude/groups/cab/projects/Control/common/reference/Homo_sapiens/GRCh38_no_alt/GATK/1000G_omni2.5.hg38.vcf.gz"
        thousandgenome_snp="/research_jude/rgs01_jude/groups/cab/projects/Control/common/reference/Homo_sapiens/GRCh38_no_alt/GATK/1000G_phase1.snps.high_confidence.hg38.vcf.gz"
        dbSNP="/research_jude/rgs01_jude/groups/cab/projects/Control/common/reference/Homo_sapiens/GRCh38_no_alt/GATK/resources_broad_hg38_v0_Homo_sapiens_assembly38.dbsnp138.vcf"
        
        mills_indel="/research_jude/rgs01_jude/groups/cab/projects/Control/common/reference/Homo_sapiens/GRCh38_no_alt/GATK/Mills_and_1000G_gold_standard.indels.hg38.vcf.gz"
        axiom="/research_jude/rgs01_jude/groups/cab/projects/Control/common/reference/Homo_sapiens/GRCh38_no_alt/GATK/Axiom_Exome_Plus.genotypes.all_populations.poly.hg38.vcf.gz"

        // small interval set (961)
        INTERVALS= "/research_jude/rgs01_jude/groups/cab/projects/Control/common/scripts/Joint_GenotypeGVCFs/intervals/hg38_intervals.txt"
        // large interval set (20361)
        //INTERVALS= "/research_jude/rgs01_jude/groups/cab/projects/Control/common/scripts/Joint_GenotypeGVCFs/intervals/intervals_hg38.even.handcurated.20k.intervals"
    }

    Build_hg19 {
        REFERENCE="/research/rgs01/applications/hpcf/authorized_apps/cab/Automation/REF/Homo_sapiens/NCBI/GRCh37-lite/bwa-index/0.7.17-r1188/GRCh37-lite_wchr.fa"
	    KNOWN_SITE1="/research_jude/rgs01_jude/groups/cab/projects/automapper/common/jmyers3/hg19_gatk_known_sites/1000G_phase1.indels.hg19.vcf"
	    KNOWN_SITE2="/research_jude/rgs01_jude/groups/cab/projects/automapper/common/jmyers3/hg19_gatk_known_sites/dbsnp_138.hg19.vcf"
	    KNOWN_SITE3="/research_jude/rgs01_jude/groups/cab/projects/automapper/common/jmyers3/hg19_gatk_known_sites/Mills_and_1000G_gold_standard.indels.hg19.vcf"
	    EXOME_BED="/research_jude/rgs01_jude/groups/cab/projects/automapper/common/yhui/Ti-Cheng/snv/GATK_known_sites/hg19/sureSelectV6_hg19_regions.bed"
        
        hapmap="/research_jude/rgs01_jude/groups/cab/projects/Control/common/reference/Homo_sapiens/GRCh37-lite/GATK/hapmap_3.3.b37.vcf"
        omni="/research_jude/rgs01_jude/groups/cab/projects/Control/common/reference/Homo_sapiens/GRCh37-lite/GATK/1000G_omni2.5.b37.vcf"
        thousandgenome_snp="/research_jude/rgs01_jude/groups/cab/projects/Control/common/reference/Homo_sapiens/GRCh37-lite/GATK/1000G_phase1.snps.high_confidence.b37.vcf"
        dbSNP="/research_jude/rgs01_jude/groups/cab/projects/Control/common/reference/Homo_sapiens/GRCh37-lite/GATK/dbsnp_138.b37.excluding_sites_after_129.vcf"

        mills_indel="/research_jude/rgs01_jude/groups/cab/projects/automapper/common/jmyers3/hg19_gatk_known_sites/Mills_and_1000G_gold_standard.indels.hg19.vcf"
        axiom=""
        
        INTERVALS= "/research_jude/rgs01_jude/groups/cab/projects/Control/common/scripts/Joint_GenotypeGVCFs/intervals/hg19_intervals_wchr.txt"
    }  
}

profiles {

    local {
        process.executor = 'local'
        process {    
            withName: genome_indexing {
	        module = ['samtools/1.12', 'picard/2.9.4']
	        }  
        }
        
	    process { 
            withName: gvcf_indexing {
            module = 'bcftools/1.14'
            memory = '16GB'
	        }
        }
               
        process { 
            withName: GenomicsDBImport  {
            module = 'gatk/4.1.8.0'
	        }
        }
        
        process { 
            withName: GenotypeGVCFs   {
            module = 'gatk/4.1.8.0'
	        }
        }
        
         process { 
            withName: Merge_Intervals_ToChromVCF {
            module = 'gatk/4.1.8.0'
	        }
        }
       
        process { 
            withName: VQSR_preprocess   {
            module = ['bcftools/1.9', 'tabix/0.2.6']
	        }
        }
        
        process { 
            withName: VQSR_INDEL_VariantRecalibrator {
            module = ['gatk/4.1.8.0', 'R/4.1.0']
	        }
        }
        
        process { 
            withName: VQSR_SNP_VariantRecalibrator   {
            module = ['gatk/4.1.8.0', 'R/4.1.0']
	        }
        }  
        
         process { 
            withName: VQSR_ApplyRecalibration   {
            module = ['gatk/4.1.8.0', 'R/4.1.0']
	        }
        }
        
         process { 
            withName: Merge_Chrosome_To_Project_VCF {
            module = 'gatk/4.1.8.0'
	        }
        }       
    }


    cluster {
        process.executor = 'lsf'
        executor.queueSize = 1000
        process.queue =  'standard' // 'priority'
        process.clusterOptions = '-P Genotype' 
        process.scratch=true
       // process.cache = 'lenient'
       // process.penv = 'smp'   for sge only, parallel envrionment /enable for the submitted task
        executor.jobName = { "$task.name - $task.hash" }   
      
        process {    
            withName: genome_indexing {
	        module = ['samtools/1.12', 'picard/2.9.4']
            cpus =1
	        memory ='4GB' 
	        }  
        }
        
	    process { 
            withName: gvcf_indexing {
	        module = 'bcftools/1.14' 
            cpus =1
            memory = '16GB'
	        }
        }
         
        process { 
            withName: GenomicsDBImport  {
            module = 'gatk/4.1.8.0'
            cpus = 2 
            // memory = '14GB'
	        }
        } 
        
        process { 
            withName: GenotypeGVCFs   {
            module = 'gatk/4.1.8.0'
            cpus = 2 
            memory = '32GB'
	        }
        } 
        
        process { 
            withName: Merge_Intervals_ToChromVCF {
            module = 'gatk/4.1.8.0'
            cpus = 1
            memory = '32GB'
	        }
        }
       
        process { 
            withName: VQSR_preprocess {
            module = ['bcftools/1.9', 'tabix/0.2.6']
            cpus = 1
            memory = '32GB'
	        }
        }
        
        process { 
            withName: VQSR_INDEL_VariantRecalibrator {
            module = ['gatk/4.1.8.0', 'R/4.1.0']
            cpus = 1
	        memory = '32GB'
	        // time = '12h'
	        }
        }
        
        process { 
            withName: VQSR_SNP_VariantRecalibrator {
            module = ['gatk/4.1.8.0', 'R/4.1.0']
            cpus = 1
	        memory  ='32GB'
	        // time = '12h'
	        }
        }  
        
        process { 
            withName: VQSR_ApplyRecalibration {
            module = 'gatk/4.1.8.0'
            cpus = 1 
	        memory = '32GB'
	        // time ='12h'
	        }
        }
        
        process { 
            withName: Merge_Chrosome_To_Project_VCF {
            module = 'gatk/4.1.8.0'
            memory = '32GB'
            cpus =1 
            // time ='24h'
	        }
        } 
  
    }

    cluster_singularity {
        process.executor = 'lsf'
        executor.queueSize = 1000
        executor.jobName = { "$task.name - $task.hash" }
        process.queue = 'priority' // 'standard'
        process.clusterOptions = '-P jointgenotype'
        process.memory = '32GB'
        singularity.enabled = true
        singularity.cacheDir = '/research/rgs01/home/clusterHome/stithi/singularity-cache'
    } 

}

dag {
  enabled = true
  overwrite = true 
}
report {
  enabled = true
  overwrite = true 
}
timeline {
  enabled = true
  overwrite = true
}

