params {
    
    h = null
    help = null
  
    vqsr_recal="Y"
    //" VQSR recalbriation. Y(Default) | N"     

    ASOption=""
    //Allele Specific Option. ""(default) | "-AS"(allele-specific)
   
    popType="notPOP"
    //"Population datatype, InbreedingCoeff used or not. notPOP(Default) | POP"
}

profiles {
    local {
        process.executor = 'local'
    }

    cluster {
        process.executor = 'lsf'
        executor.queueSize = 1000
        process.queue = 'standard' // 'priority'
        process.clusterOptions = '-P ALS'
        process.memory = 8GB
    }
}

dag {
  enabled = true
  overwrite = true 
}
report {
  enabled = true
  overwrite = true 
}
timeline {
  enabled = true
  overwrite = true
}
